<div class="row">
    <div class="col-md-6">
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th></th>
                <th>Ten name van</th>
                <th>Soort</th>
                <th>Rekeningnummer</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="#payment of payments">
                <td>
                    <span *ngIf="payment.isAutoPayment">
                        <i class="glyphicon glyphicon-ok-sign"></i>
                    </span>
                        <span *ngIf="payment.isPrefPayment">
                    <i class="glyphicon glyphicon-ok-circle"></i>
                    </span>
                </td>
                <td>{{payment.billingName}}
                    <span class="hidden">{{payment.id}}</span>
                </td>
                <td>{{payment.type}}</td>
                <td>{{payment.accountNumber}}</td>
                <td><i class="glyphicon glyphicon-alert" (click)="select(payment)"></i></td>
                <td><i class="glyphicon glyphicon-gift" (click)="displayPurchases(payment)"></i></td>
                <td><i class="glyphicon glyphicon-eur" (click)="displayInvoices(payment)"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <payment-details *ngIf="currentPayment" [payment]="currentPayment"></payment-details>
        <invoices></invoices>
        <purchases></purchases>
    </div>
</div>